<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies are shark food</title>
  </head>
  <body>
    <h1> PUPPIES PUPPIES PUPPIES </h1>
    <a href="/new">Click Here To List A Puppy</a>
    <a href="/display_puppy">PUPPIES</a>
  </body>
</html>
